body { 
  font-family: 'Papyrus';
  color: #ffa500;  
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgb(255, 0, 0);
  border: 30px dotted #0000bb;
}

h2, h3 {
  font-family: 'Courier'; 
  color: rgb(255, 0, 255);
  border: 1px solid #bbbbbb;
}

p {
  background-color: rgb(128, 128, 128);
}