/* Mark's Dessert Diary CSS
   Author: Mark Kornblum
*/
body { 
  font-family: 'Papyrus';
  color: #ffa500;
  width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

header {
	background-color: rgb(128, 128, 128);
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgb(255, 0, 0);
  border: 30px dotted #0000bb;
  margin-bottom: 60px;
}

h2, h3 {
  font-family: 'Courier'; 
  color: rgb(255, 0, 255);
  border: 1px solid #bbbbbb;
}

p {
  background-color: rgb(128, 128, 128);
  padding: 30px;
  margin-top: 60px;
}

p:hover{
  box-shadow: 5px 5px 31px 0px rgba(74, 70, 76, 0.44);
}

nav ol {
	list-style-type: none;
}

nav li {
	width: 100px;
}

a {
	color: purple;
}

a:hover {
	color: rgb(100, 100, 255);
}

a:visited {
	
}

.important {
	text-transform: uppercase;
}

.new {
	color: #b4da55;
}

.cake h1, .cake h2 {
	border: none;
	font-family: 'Impact';
	color: rgba(255, 0, 0, 0.5);
}