body {
	background-color: #121212;
	color: #efefef;
	font-family: Futura, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

footer {
	clear: both;
}

@media all and (min-width: 35.5em){
	.wrapper {
		width: 35.5em;
		margin: auto;
	}
}
